<body>
  <!-- <%- include('partials/header.ejs') %> -->
  <div>
    <h2>This is About page</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio rerum unde
      incidunt esse voluptate, officia porro odio molestias provident
      accusantium eaque qui dignissimos adipisci nulla ipsum consequatur neque
      explicabo distinctio necessitatibus, vel eius. Totam quisquam maiores,
      quod exercitationem blanditiis odio facere a dolor vero officia, laborum
      explicabo dicta! Similique velit facere veritatis voluptas quibusdam
      consequatur ducimus, est odio mollitia! Excepturi deleniti nesciunt quam,
      minus unde dolore facilis magnam dolores mollitia ex aliquid ad aperiam,
      iure cum. Laborum, non nam, commodi deserunt quasi optio eveniet debitis
      expedita nulla sed fugiat quam neque atque incidunt voluptatum officia
      molestiae, suscipit recusandae dolor enim.
    </p>
  </div>
  <!-- <%- include('partials/footer.ejs') %> -->
</body>
