<body>
  <!-- <%- include('partials/header.ejs') %> -->
  <div>
    <h2>This is homepage</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quaerat
      iusto cum nulla mollitia explicabo accusantium cupiditate facilis magni
      doloribus, quod laborum laudantium eaque amet excepturi facere inventore.
      Vitae enim possimus reprehenderit unde dolor libero saepe, ab eum quidem
      optio odio magnam nam consequuntur nihil est recusandae, quaerat deleniti
      vero ea. Asperiores quod labore porro neque fuga velit, quis repellat,
      tenetur magni doloremque atque quas et cum eveniet assumenda reiciendis
      amet iure dolorem ad illum voluptatum vitae odit vero obcaecati! Ut
      asperiores, possimus nemo labore modi libero inventore! Nobis nesciunt
      saepe ipsam impedit beatae quos perspiciatis illo commodi a inventore.
    </p>
  </div>
  <!-- <%- include('partials/footer.ejs') %> -->
</body>
